<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829375138547-msj70tjcnb2qpfb8olbbh7ntgcnhail9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829375138547-msj70tjcnb2qpfb8olbbh7ntgcnhail9</string>
	<key>API_KEY</key>
	<string>AIzaSyB7p66HalNmWVOCSDiXSkX84Hx5olsI654</string>
	<key>GCM_SENDER_ID</key>
	<string>829375138547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quora.firstapp.Green</string>
	<key>PROJECT_ID</key>
	<string>green-c90ad</string>
	<key>STORAGE_BUCKET</key>
	<string>green-c90ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829375138547:ios:20cb9dda47b72bd1d7c586</string>
	<key>DATABASE_URL</key>
	<string>https://green-c90ad.firebaseio.com</string>
</dict>
</plist>